.loading {
  position: relative;
}

.loginInput {
  position: relative;
}

.errorMessage {
  position: absolute;
  top: 0%;
  right: -103%;
  width: 330px;
  margin: 0;
  font-size: 25px;
  color: red;
}

